## --- Environment variable --- ##
ENV=LOCAL
DEBUG=false
# TZ=UTC


## -- API configs -- ##
ABSC_API_PORT=10001
# ABSC_API_LOGS_DIR="/var/log/rest.rt-abs-challenger"
# ABSC_API_DATA_DIR="/var/lib/rest.rt-abs-challenger"

# ABSC_API_VERSION="1"
# ABSC_API_PREFIX=""
# ABSC_API_DOCS_ENABLED=true
# ABSC_API_DOCS_OPENAPI_URL="{api_prefix}/openapi.json"
# ABSC_API_DOCS_DOCS_URL="{api_prefix}/docs"
# ABSC_API_DOCS_REDOC_URL="{api_prefix}/redoc"
